ignore files:
    docs
    troff
    .git
    tests
accept files:
    *.fs
header markers:
    \ ****
remark markers:
    \
end markers:
    \ ****
header separate characters:
    ,
header ignore characters:
    [
remark begin markers:
    (
remark end markers:
    )
 